.main-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.default-style,
.sample-one  {
    position: relative;
    max-width: 290px;
    box-shadow: 0px 4px 4px 0px rgba(231, 231, 231, 0.2);
    border: 1px solid rgba(50, 50, 50, 0.15);
    border-radius: 6px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);

}

.sample-one {
    max-width: 100%;
    /*padding: 14px 12px;*/
}
/*.active {*/
/*    background-color: rgba(107, 159, 128, 1);*/
/*}*/

.title {
    font-family: PoppinsMedium, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(46, 55, 62, 1);
}
.dd-default,
.dd-sample-one {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 15px;
    justify-content: space-between;
}

.dd-sample-one {
    min-height: 49px;
}

.dd-default > img {
    max-width: 18px;
}

.dd-sample-one > img {
    max-width: 12px;
}



.dd-container span {
    display: inline-block;
    color: rgba(82, 82, 82, 1);
    font-family: PoppinsRegular, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.dd-menu-items {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    background-color: #FFFFFF;
    z-index: 1;
    position: absolute;
    cursor: pointer;
    border-radius: 6px;
}

.dd-menu-item {
    padding: 4px;
    border-bottom: 1px solid rgba(245, 245, 245, 1);
}

.dd-menu-items > li:last-child {
    border: none;
}




