.main-container {
    display: grid;
    grid-template-rows: max-content;
    width: 100%;
    gap: 4px;
}

.label {
    font-family: PoppinsMedium, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(25, 3, 43, 1);
    margin: 0;
}

.show-hide-icon {
    max-width: 22px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-container {
    position: relative;
    background-color: rgba(255, 251, 246, 1);
    border-radius: 6px;

}

.input-container > input {
    border: 1px solid rgba(224, 224, 224, 1);
    color: rgba(25, 3, 43, 1);
    width: 100%;
    padding: 14px 12px;
    font-family: PoppinsMedium, sans-serif;
    font-size: 12px;
    line-height: 19px;
    border-radius: 6px;
}

.rtl-style {
    unicode-bidi:bidi-override;
    direction: RTL;
}

.textarea {
    min-height: 153px;
    border: 1px solid rgba(50, 50, 50, 0.1);
    background: rgba(255, 251, 246, 1);

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.errorAlert {
    color: #E80B0B;
    text-align: left;
    padding: 4px 0 0 4px;
    font-size: 13px;
}